.content
    font-family: Helvetica
    text-align: center
    padding-top: 170px
    font-size: xx-large
    background-color: #20bcf5
    position: absolute
    top: 0px
    right: 0px
    left: 0px
    bottom: 0px

.big-text
    font-size: 200px
    margin-top: 50px
    margin-bottom: 50px

html, body
    margin: 0px
    height: 100%
